:root{
	/*To be able to more easily change the colorscheme*/
	--darkblue: #011638;
	--charcoal: #364156;
	--darkgray: #707070;
	--lightgray:#CDCDCD;
	--honeydew: #DFF8EB;
	--green: 		#214E34;
	--offwhite: #F5F5F5;
	--offblack: #333333;
}
html{
	background-color: var(--offwhite);
}
.header{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 35vh;
	width: 100%;
	background-color: var(--darkblue);
	color: var(--offwhite);
	margin: 0;

}
.headerText{
	display:block;
	vertical-align: center;
	padding-right: 50%;
}
img{
	vertical-align: center;
	float: left;
	margin-right: 2%;
	margin-left: 2%;
}
.footer{
	text-align: right;
	display: inline-block;
	height: 8vh;
	width: 100%;
	background-color: var(--darkblue);
	color: var(--offwhite);
	margin-top: 15px;
}

.footerText{
		text-align:center;
		vertical-align: bottom;
		margin:2%;
}


.header h1{
	text-align: left;
}
.header h3{
	text-align: left;
}

.header p{
	text-align: left;
}

.projects{
	height:auto;
	float: left;
	width: 65%;
}

.other{
	height: auto;
		float: right;
		width: 30%;
}

.subheader{
	background-color: var(--darkgray);
	color: var(--offwhite);
	padding: 15px;
	margin-top: 15px;
}
.element{
	color: var(--offblack);
	font-size: 2vh;
	background-color: var(--lightgray);
	padding: 15px;
	margin-top: 15px;
	list-style-type: none;
}
.element a:link,
.element a:visited{
	color: var(--green);
}
.element2{
	color: var(--offwhite);
	font-size: 2vh;
	background-color: var(--charcoal);
	padding: 15px;
	margin-top: 15px;
	list-style-type: none;
}
.element2 a:link,
.element2 a:visited{
	color: var(--honeydew);
}

li{
	list-style-type: none;
}
li:before{
	content: "‣";
	padding-right: 8px;
}

.skillbar{
	background-color: var(--offwhite);
	margin-right: 5%;
	width: 80%;
	height: 3.5vh;
	margin-top: 3%;
}

.lvl{
	float: left;
	color: var(--offwhite);
	display: flex;
	text-align: left;
	font-size: 2vh;
	background-color: var(--darkgray);
	margin: 0px;
	width: 75%;
	height: 100%;
}

.vert{
	vertical-align: middle;
	margin: 2%;
}
